*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding-top: 40px;
}

.container{
    margin: 0 auto;
    position: relative;
    width: 980px;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 40px;
}

.phone{
    max-width: 380px;
}

.phone img{
    width: 100%;
}

.content{
    width: 350px;
}

.content__form{
    background-color: transparent;
    border: 1px solid rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 40px 30px;
}

.content__form-logo{
    width: 174px;
    margin-bottom: 30px;
}

.content__form-logo img{
    width: 100%;
}

.content__form input{
    width: 100%;
    border: 1px solid rgb(219, 219, 219);
    outline: none;
    overflow: hidden;
    padding: 12px 0 12px 8px;
    text-overflow: ellipsis;
    font-size: 12px;
    margin-bottom: 6px;
    box-sizing: border-box;
}

.button{
    background-color: rgba(0, 149, 246, .7);
    width: 100%;
    padding: 7px 0;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 600;
    border: none;
    color: #fff;
}

.content__lines{
    margin-top: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 16px;
    color: rgb(115, 115, 115);
    font-size: .8125rem;
    margin-bottom: 24px;
}

.content-line{
    background-color: rgb(219, 219, 219);
    height: 1px;
    width: 100%;

}

.sign-in{
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #385185;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
}

.sign-in img{
    width: 16px;
    height: 16px;
}

.forget{
    text-decoration: none;
    color: rgb(0, 55, 107);
    font-size: 12px;
}

.content__registration{
    background-color: transparent;
    border: 1px solid rgb(219, 219, 219);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.content__registration p{
    font-size: 14px;
    padding: 8px 0;
}

.content__registration a{
    color: rgb(0, 149, 246);
    font-weight: 600;
    text-decoration: none;
    margin-left: 5px;

}

.app__btns{
    display: flex;
    gap: 14px;
    justify-content: center;
}

.app__btn {
    height: 40px;
    width: 30%;
}

.app__btn img{
    height: 100%;
    width: 100%;
}

.app__btn:first-child{
    width: 40%;
}
.app{
    text-align: center;
    font-size: 14px;
}

footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
    padding-bottom: 40px;
}


.footer__links{
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
}

.footer__links a{
    margin-right: 10px;
    text-decoration: none;
    font-size: 12px;
    color: rgb(115, 115, 115);
}

.footer__copyright{
    display: inline-flex;
    flex-wrap: wrap;
    color: rgb(115, 115, 115);
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
}

.footer__copyright span{
    margin-right: 20px;
}